[submodule "home.linux/.config/ulauncher/user-themes/ulauncher-adwaita-darkish"]
	path = home.linux/.config/ulauncher/user-themes/ulauncher-adwaita-darkish
	url = https://github.com/shepda/ulauncher-adwaita-darkish
