.classpath
.DS_Store
.project
.settings
.tags*
.idea/codeStyles
.idea/dbnavigator.xml
.idea/dataSources*
.idea/codeStyles
.idea/codeStyles/codeStyleConfig.xml .idea/codeStyles/Project.xml
*.http
*.pem
