- name: Install Flatpak applications
  community.general.flatpak:
    name:
      - app.drey.EarTag
      - ca.littlesvr.asunder
      - com.github.rafostar.Clapper
      - com.github.tchx84.Flatseal
      - com.github.wwmm.easyeffects
      - com.ranfdev.DistroShelf
      - com.usebottles.bottles
      - io.github.dweymouth.supersonic
      - io.github.kolunmi.Bazaar
      - md.obsidian.Obsidian
      - org.keepassxc.KeePassXC
      - org.localsend.localsend_app
      - org.mozilla.Thunderbird
    method: user
    state: present

- name: Configure Nautilus
  import_role:
    name: nautilus
