modmap:
  # Niri currently does not support binds on a modifier key when pressed alone.
  # This is a workaround to open the overview when the Mod key is tapped, like
  # GNOME.
  - name: Overview when Super is pressed alone
    remap:
      LeftMeta:
        held: LeftMeta
        alone:
          - LeftMeta
          - S
        free_hold: true

  - name: Vicinae window switcher selection
    mode: window_switcher
    remap:
      LeftAlt:
        release:
          - press: Enter
          - release: Enter
          - set_mode: default

  - name: Open Vicinae window switcher
    mode: alt
    remap:
      Tab:
        skip_key_event: true
        press:
          - set_mode: window_switcher
          - launch:
              - vicinae
              - vicinae://extensions/vicinae/wm/switch-windows
          - release: LeftAlt

  - name: Alt Mode
    remap:
      LeftAlt:
        press:
          set_mode: alt
        release:
          set_mode: default
