modmap:
  - name: Bind right ctrl as always the menu button
    remap:
      CONTROL_R: MENU

  # Niri currently does not support binds on a modifier key when pressed alone.
  # This is a workaround to open the overview when the Mod key is tapped, like
  # GNOME.
  - name: Overview when Super is pressed alone
    remap:
      LeftMeta:
        held: LeftMeta
        alone:
          - LeftMeta
          - O

keymap:
  - name: Firefox settings shortcut
    remap:
      Ctrl-Comma:
        launch: ["firefox", "about:preferences"]
    window:
      only:
        - / Mozilla Firefox$/
