include "binds.kdl"
include "rules.kdl"

environment {
    // Set general graphical environment information for applications to discover.
    XDG_CURRENT_DESKTOP "niri"

    // Fix scaling / rendering issues on some apps
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    GSK_RENDERER "ngl"
    STEAM_FORCE_DESKTOPUI_SCALING "1.5"
}

gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }
    touchpad {
        // Disable when typing. This is super important since palm rejection isn't
        // really a thing.
        dwt

        // macOS / GNOME style trackpad behavior.
        tap
        natural-scroll
        click-method "clickfinger"
    }
}

output "eDP-1" {
    mode "2560x1600@240.000"
    scale 1.25
}

layout {
    gaps 2
    background-color "transparent"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5;
    }
    border {
        off
    }
    focus-ring {
        width 2
        active-color "#444444"
    }
    shadow {
        on
        softness 15
        spread 5
        color "#000000aa"
    }
    tab-indicator {
        place-within-column
        active-color "#cccccc"
    }
}

overview {
    zoom 0.5
    workspace-shadow {
        off
    }
}

recent-windows {
    highlight {
        corner-radius 8
    }

    previews {
        max-height 240
    }
}

hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-size 32
}

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

switch-events {
    // Lock session when the lid is closed.
    lid-close {
        spawn "dms" "ipc" "call" "lock" "lock";
    }
}

// Disable builtin xwayland-satellite integration so that we can see logs. See
// https://github.com/YaLTeR/niri/discussions/2228
xwayland-satellite {
    path "~/.config/niri/scripts/xwayland-satellite.sh"
}

debug {
    render-drm-device "/dev/dri/renderD128"
    ignore-drm-device "/dev/dri/renderD129"

    // Firefox uses an invalid serial for activation on URL open.
    honor-xdg-activation-with-invalid-serial

    // Fix flickering and random freezes in some GNOME apps.
    wait-for-frame-completion-before-queueing
}
