include "dms/alttab.kdl"
include "dms/cursor.kdl"
include "dms/wpblur.kdl"

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^dms:"
    background-effect {
        xray false
    }
}
