// Integrate with DMS layers.
layer-rule {
    match namespace="^quickshell$"
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

// Add a shadow to the app launcher.
layer-rule {
    match namespace="^vicinae$"
    shadow {
        on
        spread 1000
        softness 0
        color "#00000055"
        draw-behind-window true
    }
}

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
}

window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}

// Windows that should be maximized by default.
window-rule {
    match app-id="code"
    match app-id="logos.exe"
    match app-id="obsidian"
    match app-id="ONLYOFFICE"
    match app-id="org.mozilla.Thunderbird" title=" - Mozilla Thunderbird$"
    match app-id="^steam$" title="^Steam$"
    match app-id="Supersonic"
    open-maximized true
}

// Windows that should be fully maximized by default.
window-rule {
    match app-id="^resolve$" title="^DaVinci Resolve Studio"
    match app-id="^Openterface Mini-KVM$"
    open-maximized-to-edges true
}

// Windows that should always open floating by default.
window-rule {
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^gnome-session-properties$"#
    match app-id=r#"^net\.nokyan\.Resources$"#
    match app-id=r#"^org\.gnome\.SystemMonitor$"#
    match app-id="^digikam$" title="^New Album"
    match app-id="^org.keepassxc.KeePassXC$" title="^KeePassXC - Passkey credentials$"
    match app-id=r#"^xdg-desktop-portal$"#
    match app-id="^zenity$"
    match title="^Calculator$"
    open-floating true
}

// DaVinci Resolve splash screen.
window-rule {
    match app-id="^resolve$" title="^resolve$"
    open-floating true
    focus-ring {
        off
    }
    border {
        off
    }
    shadow {
        on
    }
}

window-rule {
    match app-id="^resolve$" title="^Preferences$"
    open-floating false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=16 y=16 relative-to="bottom-right"
    geometry-corner-radius 12
    focus-ring {
        off
    }
    shadow {
        on
    }
}

window-rule {
    match app-id=r#"^com\.seafile\.seafile-applet$"#
    open-floating true
    default-floating-position x=256 y=8 relative-to="top-right"
    geometry-corner-radius 4
    draw-border-with-background false
}

// Steam notification toasts positioning
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id=r#"^tuxedo-control-center$"#
    max-width 800
    max-height 500
    open-floating true
}

// Terminals
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

// Tweak my favorite video player's rendering a bit.
window-rule {
    match app-id=r#"^com.github.rafostar.Clapper$"#
    opacity 1.0

    geometry-corner-radius 12

    // Clapper sometimes has scaling issues that causes horizontal slices of
    // transparent pixels to appear between video and black bars that look
    // strange. We can mask this by always drawing a black background behind its
    // windows.
    draw-border-with-background true
    border {
        on
        width 0
        active-color "#000000"
        inactive-color "#000000"
    }

    shadow {
        on
        spread 1
        softness 1
        offset x=0 y=0
        color "#000000"
        draw-behind-window true
    }
}

// Focus KeePassXC unlock window when it appears.
window-rule {
    match app-id="org.keepassxc.KeePassXC" title="Unlock Database - KeePassXC"
    open-floating true
    open-focused true
}

// Fix Firefox dialog height.
window-rule {
    match app-id="org.mozilla.firefox" title="Removing Cookies and Site Data"
    open-floating true
    open-focused true
    min-height 128
}

// Games that ought to be fullscreen but don't open that way by default.
window-rule {
    match app-id="discipl2.exe"
    open-fullscreen true
}
