// Device-specific configuration.

{% if exec(command="hostname") == "pluto" %}

environment {
    // Prefer integrated GPU in Vulkan calls.
    MESA_VK_DEVICE_SELECT "1002:150e"
}

input {
    touchpad {
        dwt
        tap
        natural-scroll
        click-method "clickfinger"
    }
}

output "eDP-1" {
    mode "2560x1600@240.000"
    scale 1.25
}

binds {
    XF86KbdLightOnOff {
        spawn "~/.config/niri/scripts/toggle-kbd-backlight.fish";
    }
}

debug {
    force-disable-connectors-on-resume

    render-drm-device "/dev/dri/by-path/pci-0000:67:00.0-render"
    ignore-drm-device "/dev/dri/by-path/pci-0000:65:00.0-render"
}

{% elif exec(command="hostname") == "zoran" %}

input {
    touchpad {
        dwt
        natural-scroll
        click-method "clickfinger"
        accel-speed 0.2
    }
}

output "eDP-1" {
    scale 1.75
}

{% endif %}
