"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    _analyticsUserId: "6afb0758-76f2-40c0-b860-5768be7f53d4"
    analytics: false
    css_convert_quotes: "double"
    language_c_beautify_on_save: true
    language_cpp_beautify_on_save: true
    language_cs_beautify_on_save: true
    language_js_beautify_on_save: true
    language_json_beautify_on_save: true
    language_rust_beautify_on_save: true
    language_xml_beautify_on_save: true
    php_cs_fixer_path: "/home/coderstephen/.composer/vendor/bin/php-cs-fixer"
    php_fixers: "-blankline_after_open_tag,-return,-spaces_cast,phpdoc_params"
    php_level: "psr2"
    rust_rustfmt_path: "/home/stephen/.cargo/bin/rustfmt"
  "atom-ctags": {}
  "atom-notifier":
    unfocused: true
  "autocomplete-plus": {}
  build:
    saveOnBuild: true
  "build-cargo": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "atom-autocomplete-php"
      "background-tips"
      "language-gfm"
      "symbols-view"
      "welcome"
    ]
    themes: [
      "nucleus-dark-ui"
      "peacocks-in-space-syntax"
    ]
  deprecated:
    tool:
      cargo: true
  docblockr:
    short_primitives: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "Input Mono"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "885fd0a8-bdb4-f4bf-9842-bbb135f14731"
  "git-plus": {}
  "gtk-dark-theme": {}
  "highlight-selected": {}
  "language-markdown":
    disableLanguageGfm: false
  linter:
    showErrorTabLine: true
  "linter-gcc": {}
  "linter-php": {}
  "linter-rust": {}
  "markdown-preview":
    grammars: [
      "source.markdown"
      "text.md"
      "text.plain"
    ]
  "markdown-writer": {}
  "php-debug": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "source.php"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  up2date: {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".md.text":
  editor:
    showInvisibles: true
    softWrapAtPreferredLineLength: false
"source.gfm":
  editor:
    softWrap: true
