"*":
  "exception-reporting":
    userId: "885fd0a8-bdb4-f4bf-9842-bbb135f14731"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "quantum-ui"
      "peacocks-in-space-syntax"
    ]
    autoHideMenuBar: true
    disabledPackages: [
      "welcome"
      "background-tips"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    fontFamily: "Input Mono"
    softWrap: true
    scrollPastEnd: true
    autoIndentOnPaste: false
    showInvisibles: true
  "atom-autocomplete-php": {}
  "atom-beautify":
    css_convert_quotes: "double"
    language_php_beautify_on_save: true
    php_cs_fixer_path: "/home/coderstephen/.composer/vendor/bin/php-cs-fixer"
    php_level: "psr2"
    php_fixers: "-blankline_after_open_tag,-return,-spaces_cast,phpdoc_params"
    _analyticsUserId: "6afb0758-76f2-40c0-b860-5768be7f53d4"
    analytics: false
  "atom-notifier":
    unfocused: true
  "autocomplete-plus": {}
  docblockr:
    short_primitives: true
  "git-log": {}
  "git-plus": {}
  "gtk-dark-theme": {}
  "haskell-ghc-mod": {}
  "highlight-selected": {}
  linter:
    showErrorTabLine: true
  "linter-php": {}
  "markdown-preview":
    useGitHubStyle: true
  "php-debug": {}
  "status-bar": {}
  tabs:
    usePreviewTabs: true
  term2:
    titleTemplate: "Terminal"
    fontSize: "12"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "source.php"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "linter-rust": {}
  build:
    saveOnBuild: true
