"*":
  "atom-beautify":
    _loggerLevel: "verbose"
    analytics: false
    c_configPath: "/home/stephen/.uncrustify.cfg"
    language_c_beautify_on_save: true
    language_php_beautify_on_save: true
    language_rust_beautify_on_save: true
    php_cs_fixer_path: "/home/stephen/.composer/vendor/bin/php-cs-fixer"
    php_fixers: "-blankline_after_open_tag,-return,-spaces_cast,-unused_use,phpdoc_params,ordered_use,no_blank_lines_before_namespace,multiline_spaces_before_semicolon,concat_with_spaces"
    php_level: "symfony"
    rust_rustfmt_path: "/home/stephen/.cargo/bin/rustfmt"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmd: "/usr/bin/ctags"
    cmdArgs: "--options=/home/stephen/.ctags.conf"
  "atom-material-ui":
    colors:
      abaseColor:
        red: 96
        green: 125
        blue: 139
        alpha: 1
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  build:
    saveOnBuild: true
    scrollOnError: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "welcome"
      "language-gfm"
      "background-tips"
      "symbols-view"
    ]
    themes: [
      "atom-material-ui"
      "duotone-dark-space-syntax"
    ]
  docblockr:
    short_primitives: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "Input Mono"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.75
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "80f2aaed-634f-74f8-2de2-a34a726b98e6"
  "highlight-selected": {}
  "linter-php":
    executablePath: "/home/stephen/.phps/7.0.2/bin/php"
  "markdown-preview":
    breakOnSingleNewline: true
    openPreviewInSplitPane: false
  "markdown-writer": {}
  "pdf-view": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".md.text":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
