'body':
    'ctrl-tab ^ctrl': 'unset!'
    'ctrl-tab': 'pane:show-next-item'
    'ctrl-shift-tab ^ctrl': 'unset!'
    'ctrl-shift-tab': 'pane:show-previous-item'

"atom-workspace":
    "ctrl-g": "atom-ctags:toggle-project-symbols"

"atom-workspace atom-text-editor":
    "alt-h": "pane:split-right"
    "alt-v": "pane:split-down"
    "ctrl-shift-up": "editor:move-line-up"
    "ctrl-shift-down": "editor:move-line-down"
    "f12": "atom-ctags:go-to-declaration"

"atom-text-editor:not([mini])":
    "shift-ctrl-K": "markdown-writer:insert-link"
    "shift-ctrl-I": "markdown-writer:insert-image"
    "ctrl-i":       "markdown-writer:toggle-italic-text"
    "ctrl-b":       "markdown-writer:toggle-bold-text"
    "ctrl-'":       "markdown-writer:toggle-code-text"
    "ctrl-h":       "markdown-writer:toggle-strikethrough-text"
    "ctrl-1":       "markdown-writer:toggle-h1"
    "ctrl-2":       "markdown-writer:toggle-h2"
    "ctrl-3":       "markdown-writer:toggle-h3"
    "ctrl-4":       "markdown-writer:toggle-h4"
    "ctrl-5":       "markdown-writer:toggle-h5"
